<!DOCTYPE html>
<html lang="en">
<head>
    <title>{%= o.webpackConfig.metadata.title %}</title>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{%= o.webpackConfig.metadata.title %}">
    <base href="{%= o.webpackConfig.metadata.baseUrl %}">

    <link href="{%= o.webpackConfig.metadata.baseUrl %}css/vendor.css.css" rel="stylesheet">
    {% for (var css in o.htmlWebpackPlugin.files.css) { %}
    <link href="{%=o.htmlWebpackPlugin.files.css[css] %}" rel="stylesheet">
    {% } %}
</head>
<body>

<div id="main-content">
    <nav ui-view="nav" noanimation="true"></nav>

    <div ui-view noanimation="true"></div>
</div>

<footer id="footer" ui-view="footer" noanimation="true"></footer>

<toaster-container></toaster-container>

<div class="overlay" loading>
    <div class="overlay__inner">
        <div class="overlay__content">
            <span class="spinner"></span>
        </div>
    </div>
</div>

<script src="https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/markerclusterer.js"></script>
<script src="https://maps.google.com/maps/api/js?sensor=false&libraries=geometry"></script>

{% for (var chunk in o.htmlWebpackPlugin.files.chunks) { %}
<script defer src="{%= o.htmlWebpackPlugin.files.chunks[chunk].entry %}"></script>
{% } %}
</body>
</html>
