/* CONTENT */
#main-content {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;

    .tab-pane {
        padding: 20px;
        border: 1px solid #ddd;
        border-top: none;
    }

    .profile-data {
        .row {
            line-height: 38px;
            padding-bottom: 2px;
            .title {
                font-weight: bold;
            }
        }
    }

    .user-list {
        .user {
            padding-top: 20px;
            text-align: center;
            cursor: pointer;
            height: 240px;
            overflow: hidden;
            .avatar {
                height: 100px;
            }
            &:hover {
                background: aliceblue;
            }
        }
    }

    .g-map {
        min-height: 700px;
        #user-google-map {
            min-height: 700px;
            width: 100%;
        }
    }

    .pagination {
        margin-top: 0;
        li {
            cursor: pointer;
        }
    }
}

.overlay {
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    position: fixed;
    background: #222;
    opacity: 0.3;

    &__inner {
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        position: absolute;
    }

    &__content {
        left: 50%;
        position: absolute;
        top: 50%;
        transform: translate(-50%, -50%);
    }

    .spinner {
        width: 75px;
        height: 75px;
        display: inline-block;
        border-width: 2px;
        border-color: rgba(255, 255, 255, 0.05);
        border-top-color: #fff;
        animation: spin 1s infinite linear;
        border-radius: 100%;
        border-style: solid;
    }
}

@keyframes spin {
    100% {
        transform: rotate(360deg);
    }
}


