<div class="container user-list">
    <nav class="navbar navbar-default">
        <div class="navbar-header">
            <form class="navbar-form">
                <div class="form-group">
                    Search by first name:
                    <input type="text" class="form-control" ng-model="$ctrl.searchText" placeholder="Search">
                </div>
                <button ng-click="$ctrl.getUsers({search_string: $ctrl.searchText})"
                        class="btn btn-default">Submit</button>
                Show by:
                <button ng-click="$ctrl.getUsers({'per-page': 5})"
                        ng-class="{'active': $ctrl.currentParams['per-page'] === 5 }"
                        class="btn btn-default">5</button>
                <button ng-click="$ctrl.getUsers({'per-page': 10})"
                        ng-class="{'active': $ctrl.currentParams['per-page'] === 10 }"
                        class="btn btn-default">10</button>
                <button ng-click="$ctrl.getUsers({'per-page': 20})"
                        ng-class="{'active': $ctrl.currentParams['per-page'] === 20 }"
                        class="btn btn-default">20</button>
                <button ng-click="$ctrl.getUsers({'per-page': 30})"
                        ng-class="{'active': $ctrl.currentParams['per-page'] === 30 }"
                        class="btn btn-default">30</button>
            </form>
        </div>
    </nav>

    <nav class="text-center">
        <ul class="pagination">
            <li>
                <a ng-click="$ctrl.getUsers({page: 1})"  ng-hide="$ctrl.currentParams.page == 1">
                    <span>First</span>
                </a>
            </li>
            <li>
                <a ng-click="$ctrl.getUsers({page: $ctrl.currentParams.page - 1})" ng-if="$ctrl.currentParams.page > 1">
                    <span>&laquo;</span>
                </a>
            </li>
            <li ng-repeat="i in [] | range: $ctrl.pageCount"
                ng-hide="(($index + 1) > $ctrl.currentParams.page + 4) || (($index + 1) < $ctrl.currentParams.page - 4)"
                ng-class="{'active': $ctrl.currentParams.page == $index + 1}">
                <a ng-click="$ctrl.getUsers({page: $index + 1})">
                    {{$index + 1}}
                </a>
            </li>
            <li>
                <a ng-click="$ctrl.getUsers({page: $ctrl.currentParams.page + 1})" ng-if="$ctrl.currentParams.page < $ctrl.pageCount">
                    <span>&raquo;</span>
                </a>
            </li>
            <li>
                <a ng-click="$ctrl.getUsers({page: $ctrl.pageCount})" ng-hide="$ctrl.currentParams.page == $ctrl.pageCount">
                    <span>Last</span>
                </a>
            </li>
        </ul>
    </nav>

    <div class="row">
        <div class="col-sm-3"
             ng-repeat="user in $ctrl.users | toArray:false track by $index"
             ng-if="user.id">
            <div class="thumbnail user" ui-sref="user({userId: user.id})">
                <img ng-src="{{user.image ? user.image : 'assets/img/blank-profile-picture.png'}}" alt="avatar"
                     class="avatar">
                <div class="caption">
                    <h3>{{user.username}}</h3>
                    <p ng-if="user.first_name || user.last_name">{{user.first_name}} {{user.last_name}}</p>
                    <p ng-if="!user.first_name && !user.last_name" class="text-muted">Unknown</p>
                    <!--<a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a>-->
                </div>
            </div>
        </div>
    </div>
</div>