<div class="container">
    <uib-tabset active="active">
        <uib-tab index="0" heading="Login">
            <div class="form-group" ng-class="{'has-error' : !$ctrl.credentials.username}">
                <label for="username">Username</label>
                <input type="text"
                       ng-model="$ctrl.credentials.username"
                       placeholder="Username"
                       uib-tooltip="Write your username"
                       tooltip-enable="!$ctrl.credentials.username"
                       id="username"
                       class="form-control"/>
            </div>
            <div class="form-group" ng-class="{'has-error' : !$ctrl.credentials.password}">
                <label for="password">Password</label>
                <input type="password"
                       ng-model="$ctrl.credentials.password"
                       placeholder="Password"
                       uib-tooltip="Your password"
                       tooltip-enable="!$ctrl.credentials.password"
                       id="password"
                       class="form-control"/>
            </div>
            <button ng-click="$ctrl.login()" class="btn btn-success">Login</button>
            <button ui-sref="signup" class="btn btn-primary">Signup</button>
        </uib-tab>
        <uib-tab index="1" heading="Login with facebook">
            <div class="form-group">
                <button ng-click="$ctrl.getFacebookCode()" class="btn btn-success">Get fb code</button>
            </div>
            <div class="form-group" ng-class="{'has-error' : !$ctrl.facebookCredentials.code}">
                <label for="code">Past code from popup url</label>
                <input type="text"
                       ng-model="$ctrl.facebookCredentials.code"
                       placeholder="Past code from popup url"
                       uib-tooltip="Past code from popup url"
                       tooltip-enable="!$ctrl.facebookCredentials.code"
                       id="code"
                       class="form-control"/>
            </div>
            <button ng-click="$ctrl.login('facebook')" class="btn btn-success">Sign in with Facebook</button>
        </uib-tab>
    </uib-tabset>
</div>

