<div class="g-map container">
   <nav class="navbar navbar-default">
      <div class="navbar-header">
         <form class="navbar-form">
            <div class="form-group">
               Search by first name:
               <input type="text" class="form-control" ng-model="$ctrl.searchText" placeholder="Search">
            </div>
            <button ng-click="$ctrl.getUsers({search_string: $ctrl.searchText})" class="btn btn-default">Submit</button>
         </form>
      </div>
   </nav>

   <div id="user-google-map"></div>
</div>