<nav class="navbar navbar-inverse">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" ui-sref="home">
                Test project GBKSoft
            </a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li ui-sref-active="active" ui-sref="profile" ng-if="$ctrl.isAuthenticated()">
                    <a href="#">Profile</a>
                </li>
                <li ui-sref-active="active" ui-sref="login" ng-if="!$ctrl.isAuthenticated()">
                    <a href="#">Login</a>
                </li>
                <li ui-sref-active="active" ui-sref="signup" ng-if="!$ctrl.isAuthenticated()">
                    <a href="#">Signup</a>
                </li>
                <li ui-sref-active="active" ui-sref="list" ng-if="$ctrl.isAuthenticated()">
                    <a href="#">List</a>
                </li>
                <li ui-sref-active="active" ui-sref="map" ng-if="$ctrl.isAuthenticated()">
                    <a href="#">Map</a>
                </li>
            </ul>
        </div>
    </div>
</nav>