<div class="container">
    <div class="row">
        <div class="col-sm-4 text-center">
            <div class="thumbnail">
                <img ng-src="{{$profile.user.image}}" ng-if="$profile.user.image" alt="profile image">
                <img src="assets/img/blank-profile-picture.png" ng-if="!$profile.user.image" alt="profile image">
            </div>

            <input type="file" ng-if="$profile.editMode && !$profile.user.image" nv-file-select uploader="$profile.uploader"/>
            <button ng-if="$profile.editMode && $profile.user.image" ng-click="$profile.deleteProfileImage()" class="btn btn-danger">Delete avatar</button>

        </div>
        <div class="col-sm-8 profile-data">
            <div class="row form-group">
                <div class="col-sm-3 title">Name</div>
                <div class="col-sm-9">
                    <span ng-if="!$profile.editMode">{{$profile.user.name}}</span>
                    <input ng-if="$profile.editMode" class="form-control" ng-model="$profile.user.name"/>
                </div>
            </div>
            <div class="row form-group">
                <div class="col-sm-3 title">Username</div>
                <div class="col-sm-9">
                    <span ng-if="!$profile.editMode">{{$profile.user.username}}</span>
                    <input ng-if="$profile.editMode" class="form-control" ng-model="$profile.user.username"/>
                </div>
            </div>
            <div class="row form-group">
                <div class="col-sm-3 title">First name</div>
                <div class="col-sm-9">
                    <span ng-if="!$profile.editMode">{{$profile.user.first_name}}</span>
                    <input ng-if="$profile.editMode" class="form-control" ng-model="$profile.user.first_name"/>
                </div>
            </div>
            <div class="row form-group">
                <div class="col-sm-3 title">Last name</div>
                <div class="col-sm-9">
                    <span ng-if="!$profile.editMode">{{$profile.user.last_name}}</span>
                    <input ng-if="$profile.editMode" class="form-control" ng-model="$profile.user.last_name"/>
                </div>
            </div>
            <div class="row form-group">
                <div class="col-sm-3 title">country</div>
                <div class="col-sm-9">
                    <span ng-if="!$profile.editMode">{{$profile.user.country}}</span>
                    <input ng-if="$profile.editMode" class="form-control" ng-model="$profile.user.country"/>
                </div>
            </div>
            <div class="row form-group">
                <div class="col-sm-3 title">city</div>
                <div class="col-sm-9">
                    <span ng-if="!$profile.editMode">{{$profile.user.city}}</span>
                    <input ng-if="$profile.editMode" class="form-control" ng-model="$profile.user.city"/>
                </div>
            </div>
            <div class="row form-group">
                <div class="col-sm-3 title">lat</div>
                <div class="col-sm-9">
                    <span ng-if="!$profile.editMode">{{$profile.user.lat}}</span>
                    <input ng-if="$profile.editMode" class="form-control" ng-model="$profile.user.lat"/>
                </div>
            </div>
            <div class="row form-group">
                <div class="col-sm-3 title">lon</div>
                <div class="col-sm-9">
                    <span ng-if="!$profile.editMode">{{$profile.user.lon}}</span>
                    <input ng-if="$profile.editMode" class="form-control" ng-model="$profile.user.lon"/>
                </div>
            </div>
            <div class="row form-group">
                <div class="col-sm-3 title">Email</div>
                <div class="col-sm-9">
                    <span ng-if="!$profile.editMode">{{$profile.user.email}}</span>
                    <input ng-if="$profile.editMode" class="form-control" ng-model="$profile.user.email"/>
                </div>
            </div>
            <div class="row form-group">
                <div class="col-sm-3 title">Gender</div>
                <div class="col-sm-9">
                    <span ng-if="!$profile.editMode">{{$profile.user.gender}}</span>
                    <select ng-if="$profile.editMode"
                            name="gender"
                            class="form-control"
                            ng-model="$profile.user.gender">
                        <option value="male">Male</option>
                        <option value="female">Female</option>
                    </select>
                </div>
            </div>

            <div>
                <button ng-if="!$profile.editMode" ng-click="$profile.toggleEditMode(true)" class="btn btn-default">Edit</button>
                <button ng-if="$profile.editMode" ng-click="$profile.cancel()" class="btn btn-warning">Cancel</button>
                <button ng-if="$profile.editMode" ng-click="$profile.save()" class="btn btn-success">Save</button>
                <button ng-if="$profile.editMode" ng-click="$profile.setCurrentPosition()" class="btn btn-primary">Set current position</button>
                <logout>Logout</logout>
            </div>
        </div>
    </div>
</div>