<div class="container">
    <div class="form-group" ng-class="{'has-error' : !$ctrl.credentials.username}">
        <label for="username">Username</label>
        <input type="text"
               ng-model="$ctrl.credentials.username"
               id="username"
               placeholder="Username"
               uib-tooltip="Write your username"
               tooltip-enable="!$ctrl.credentials.username"
               class="form-control" />
    </div>
    <div class="form-group" ng-class="{'has-error' : !$ctrl.credentials.email}">
        <label for="email">email</label>
        <input type="email"
               ng-model="$ctrl.credentials.email"
               id="email"
               placeholder="Email"
               uib-tooltip="Write your email"
               tooltip-enable="!$ctrl.credentials.email"
               class="form-control" />
    </div>
    <div class="form-group" ng-class="{'has-error' : !$ctrl.credentials.password}">
        <label for="password">password</label>
        <input type="password"
               ng-model="$ctrl.credentials.password"
               id="password"
               placeholder="Password"
               uib-tooltip="Write your password"
               tooltip-enable="!$ctrl.credentials.password"
               class="form-control" />
    </div>
    <button ng-click="$ctrl.signup()" class="btn btn-success">Register</button>
    <button ui-sref="login" class="btn btn-primary">Login</button>
</div>


