<div class="container">
    <div class="row">
        <div class="col-sm-4 text-center">
            <div class="thumbnail">
                <img ng-src="{{$ctrl.user.image}}" ng-if="$ctrl.user.image" alt="profile image">
                <img src="assets/img/blank-profile-picture.png" ng-if="!$ctrl.user.image" alt="profile image">
            </div>
        </div>
        <div class="col-sm-8 profile-data">
            <div class="row form-group">
                <div class="col-sm-3 title">Name</div>
                <div class="col-sm-9">
                    <span>{{$ctrl.user.name}}</span>
                </div>
            </div>
            <div class="row form-group">
                <div class="col-sm-3 title">Username</div>
                <div class="col-sm-9">
                    <span>{{$ctrl.user.username}}</span>
                </div>
            </div>
            <div class="row form-group">
                <div class="col-sm-3 title">First name</div>
                <div class="col-sm-9">
                    <span>{{$ctrl.user.first_name}}</span>
                </div>
            </div>
            <div class="row form-group">
                <div class="col-sm-3 title">Last name</div>
                <div class="col-sm-9">
                    <span>{{$ctrl.user.last_name}}</span>
                </div>
            </div>
            <div class="row form-group">
                <div class="col-sm-3 title">country</div>
                <div class="col-sm-9">
                    <span>{{$ctrl.user.country}}</span>
                </div>
            </div>
            <div class="row form-group">
                <div class="col-sm-3 title">city</div>
                <div class="col-sm-9">
                    <span>{{$ctrl.user.city}}</span>
                </div>
            </div>
            <div class="row form-group">
                <div class="col-sm-3 title">lat</div>
                <div class="col-sm-9">
                    <span>{{$ctrl.user.lat}}</span>
                </div>
            </div>
            <div class="row form-group">
                <div class="col-sm-3 title">lon</div>
                <div class="col-sm-9">
                    <span>{{$ctrl.user.lon}}</span>
                </div>
            </div>
            <div class="row form-group">
                <div class="col-sm-3 title">Email</div>
                <div class="col-sm-9">
                    <span>{{$ctrl.user.email}}</span>
                </div>
            </div>
            <div class="row form-group">
                <div class="col-sm-3 title">Gender</div>
                <div class="col-sm-9">
                    <span>{{$ctrl.user.gender}}</span>
                </div>
            </div>

            <div>
                <button ui-sref="list" class="btn btn-primary">Back to list</button>
            </div>
        </div>
    </div>
</div>